<!DOCTYPE html>
<html>
<head>
  <title>Therouter</title>
  <%= stylesheet_link_tag    "therouter/application", media: "all" %>
  <%= javascript_include_tag "therouter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
